- if @council.flickr_feed && @council.flickr_feed.entries.size > 0

  #flickr_image
    - flickr_image = @council.flickr_feed.entries.first
    - STDERR.puts @council.flickr_feed.inspect
    = flickr_image["description"].gsub('alt=""', 'alt="' + flickr_image["title"] + "on Flickr" + '"')

    %p
      &#147;
      %a{:href=>flickr_image["link"]}
        = flickr_image["title"]
      &#148;

      on Flickr        
%h2
  News
%ul#latest_news
  - unless @council.rss_feed.blank?
    - @council.rss_feed.entries.each do |entry|
      %li
        %p
          %strong
            %a{:href=>entry.url}
              = entry.title
      
          %br
          = entry.summary