%section#home
  %header
      
      
    #get_started
      %h1
        Easy access to your local council starts here
        
      #by_postcode
        %form#your_postcode{:action=>"councils/find_by_postcode", :method=>:post}
          %label{:for=>"postcode"} 
            My postcode is
            %input{:type=>"text",:size=>"8", :name=>"postcode", :id=>"postcode"}
            %button{:type=>"submit", :name=>"Go"}
              %span find my council
      
      #either_or
        or
      
      #by_name
        %form#choose_a_council{:action=>"councils", :method=>:post}
          %label{:for=>"council"}
            My council is
            %select{:name=>"council"}
              %option{:value=>0}
                one of these...
              - @councils.each do |council|
                %option{:value=>council["id"]} 
                  = council["name"]
            %button{:type=>"submit", :name=>"Go"}
              %span so let's go
            
