%section#home
  %header
      
    #get_started
      %h1
        Easy access to your local council starts here
        
      #by_postcode
        %form#your_postcode{:action=>"/find_by_postcode", :method=>:post}
          %label{:for=>"postcode"} 
            My postcode is
            %input{:type=>"text",:size=>"8", :name=>"postcode", :id=>"postcode"}
            %button{:type=>"submit", :name=>"Go"}
              %span find my council
      
      #either_or
        or
      
      #by_name
        %form#choose_a_council{:action=>"/councils", :method=>:post}
          %label{:for=>"council"}
            My council is
            %select{:name=>"council"}
              %option{:value=>0}
                one of these...
              - @councils.each do |council|
                %option{:value=>council.slug} 
                  = council["name"]
            %button{:type=>"submit", :name=>"Go"}
              %span so let's go
            
  %section#why
    %h2
      Use this site to quickly and easily find out things like:
      
    %ul
      %li
        %strong Who 
        is my local councillor?
      %li
        %strong What 
        is the process for getting a tax rebate?
      %li
        %strong When 
        are the bins collected?
      %li
        %strong Where 
        is my nearest library?
      %li
        %strong Why 
        is there a house being built next door?