%section#service
  %header
    %h1 
      = @service["title"]
        
  %section#service_body
    = @service.readable.content
  %section#meta
    %a#original_url{:href=>@service["url"]} Original page
    