@import css3.css.sass

!background= #dafbfa

body
  +gradient(!background+#111, !background)
#content
  +box-shadow(0px,0px, 30px, !background-#111)
ul#common_main_menu 
  li
    padding: 5px
    padding-bottom: 0px
    a
      +box-shadow(0px,0px, 10px, !background-#111)
h1, h2
  color: #223333