@import reset.css.sass
@import css3.css.sass

!unit= 110px
!gutter= 10px

!line= 18px

!link= #1fae77
!background= #ded

body
  padding= 0 0 !line 0
  
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
  font-size: 14px
  line-height= !line
  
  color: black
  +gradient(!background, !background-#121)
  background-position: 0 0
  background-attachment: fixed
  
  a
    font-weight: bold
    
    color= !link
    
    &:hover
      text-decoration: none
      color: black
  
  form
    div
      clear: left
      margin= 0 0 !line 0
      small
        display: block
        font-size: 12px
        color: #999
        
    label,
    fieldset legend
      display: block
      
      padding= 0 0 !line/2 0
      
    input
      width= !unit*3
      font-size: 24px
      
      +border-radius(8px, 8px, 8px, 8px)
      +gradient(#eee, white)
      
    div.submit
      clear: both
      
      padding= !line/2 0
      
    button
      overflow: visible
      +box-sizing(content-box)

      margin= 0
      padding= 9px !gutter

      font-weight: bold
      font-size: 1em
      text-shadow= -1px -1px 1px !link-#222
      text-decoration: none
      text-align: center

      cursor: pointer
      color: white
      +gradient(!link, !link-#111)
      border= 1px outset !link+#222
      +border-radius(10px, 10px, 10px, 10px)

      &:hover
        +gradient(#00ff96, #00ee76)
    
div#page  
  margin: 1.5em
    
div#message
  z-index: 1000
  position: absolute
  left: 0
  top: 0
  width: 100%
  
  padding= !line/2 0
  
  font-size: 18px
  font-weight: bold
  text-align: center
  text-shadow: 1px 1px 1px white
  
  color: black
  background: rgba(255, 255, 255, 0.9)
  border-bottom: 1px solid white
  +box-shadow(rgba(0, 0, 0, 0.5), 0, 0, 2px)

nav#masthead
  z-index: 2
  position: relative
  font-size: 14px
  font-weight: bold
  
  div.global
    p
      padding= !line/4 !gutter !line/4 0
      
      font-size: 12px
      text-align: right
      text-shadow= 1px 1px 1px white
      
      color: #999
      
      a
        font-weight: normal
        
        color: #666
      
    
      
section#content
  +expand
  z-index: 1
  position: relative
  clear: both
  min-height: 500px
  background-color: white
  +border-radius(10px, 10px, 10px, 10px)
  padding: 10px
  margin-top: 0
  section
    h1      
      font-size: 18px
      text-shadow: 1px 1px 1px white
    
    div.order
      float: right
      width: auto
      
      margin= -36px !unit*2+!gutter*2 0 0
      
      color: #555
      
      label
        display: none
      
      div.selector
        margin-bottom: 0
    
    div#main
      clear: none
      float: left
      width= !unit*5 + !gutter*4
      min-height: 300px
      
      margin= 0 0 !line 0
      padding= !line !gutter !line/2 !gutter
      
      background: white
      border-bottom: 1px solid #bbb
      +border-radius(10px, 10px, 10px, 10px)
    
    nav
      h2
        margin: 0
        padding= !line/2 !gutter
        
        font-weight: normal
        text-align: left
        text-transform: uppercase
        text-align: center
        text-shadow: 1px 1px 1px white
        
        color: #999
        +border-radius(0, 10px, 10px, 0)
        
        &.implied
          visibility: hidden
        
      li
        margin: 0 0 1px 0
        
        list-style: none
        
        background: url(/i/bbb.gif) 0 0 repeat-y #e6f3fc
        +border-radius(0, 10px, 10px, 0)
        
        button
          -webkit-appearance: none
          overflow: visible
          +box-sizing(content-box)
          width: auto

          margin: 0
          padding: 0

          background: transparent
          border: none
          +border-radius(0, 0, 0, 0)
        
        a, 
        button span
          width= !unit*2-!gutter*4.5

          padding= !line/2 !gutter !line/2 !gutter*3.5

          font-size: 1em
          text-shadow: 1px 1px 1px white
          text-decoration: none
          text-align: left

          cursor: pointer
          color: black
          background: 10px 50% no-repeat transparent
          border: none
          +border-radius(0, 10px, 10px, 0)
          
      li
        a:hover,
        button:hover span
          color: #333
          background-color: white
          
        strong a,
        strong button span
          width= !unit*2-!gutter*2
          padding= !line/2 !gutter !line/2 !gutter*2
          
          color: black
          background-color: white
          background-image: none !important
          border-bottom: 1px solid #bbb

          
footer#credits
  clear: both
  margin-top: 1.5em
  text-align: center
      
div#informer
  z-index: 1000
  position: absolute
  right: 10px
  top: 10px
  
  padding: 9px 20px
  
  border: 1px solid white
  +box-shadow(rgba(0, 0, 0, 0.5), 0, 0, 10px)
  

div.search
  position: relative

  button
    position: absolute
    right= !gutter
    top= !line/2
  
    width= 18px !important
    height= 18px

    margin: 0 !important
    padding: 0 !important
  
    text-indent: -999em
  
    background: url(/i/famfamfam/magnifier.png) 50% 50% no-repeat
    border: none


nav#services
  +expand
  width: 300px
  float: left
  padding: 1.5em
  margin-right: 3em
  
p
  margin-bottom: 1.5em
#diycouncil
  font-size: 150%
  margin-top: 1.5em
  margin-left: 1em
  a
    color: black
dl
  dt
    font-weight: bold
  dd
    margin-bottom: 0.75em
ul
  margin-bottom: 0.75em
h1,h2, h3, h4, h5
  margin-bottom: 0.75em !important
  font-family: "Helvetica Neue", helvetica, arial, sans-serif !important
h2
  font-size: 125%
input#postcode
  width: 8em !important
#about_this_site
  color: #aba
#by_postcode label, #by_name label, #by_postcode select, #by_name select
  font-size: 125%
  font-weight: bold
#get_started
  +border-radius(6px, 6px, 6px, 6px)
  background-color: #eee
  padding: 1.5em
  margin: 1.5em
#either_or
  font-size: 125%
  color: #666
  margin-bottom: 0.5em
#choose_a_council
  select
    padding: 0.25em
    option
      font-size: 125%
#do_something
  +border-radius(6px, 6px, 6px, 6px)
  background-color: #eee
  padding: 0.75em
  margin: 0.33em
  margin-bottom: 1.5em
  label
    input
      font-size: 125%
      margin-top: -0.2em
    span
      font-size: 125%
  #spinner
    z-index: 3
    margin-left: -24px
    margin-top: 4px
  #try
    font-size: 100%
    color: #888
    margin-left: 3em
#flickr_feed
  height: 640px
#main_content
  padding: 0.5em
  ul
    padding-left: 1.5em
#favicon
  vertical-align: middle
  margin-top: -0.1em
  padding: 0.1em
  background-color: white
h1#page_title
  font-size: 200%
  margin-left: 0.25em
ul#common_main_menu
  margin-bottom: 0
  padding-left: 1em
  +expand
  li
    +expand
    width: 20%
    float: left
    margin-bottom: 0
    margin-right: 0.5em
    &:last-child
      margin-right: 0
  
    a
      position: relative
      display: block
    
      padding: 5px 0
    
      text-align: center
      text-decoration: none
      text-shadow: 1px 1px 1px #eee
    
      background: rgba(255, 255, 255, 0.5)
      +border-radius(10px, 10px, 0px, 0px)
    
      &:hover
        text-shadow: none
        color: black
        background: white

#accessibility
  position: absolute
  z-index: 2
  top: 1.5em
  right: 1.5em
sup#alpha
  font-size: 50%
  color: #999
  position: relative
  top: -2em
  left: -3.5em
#WR_1
  position: absolute
  z-index: 3
  background-color: white
  top: 0
  right: 0
#tabs
  +expand
  #members
    width: 200px
    float: left
    +expand
    
  #member_display
    +expand
    margin-left: 240px
    border: 2px solid #eee
.member
  background-color: white
  +border-radius(4px, 4px, 4px, 4px)
  padding: 0.25em
  margin-bottom: 0.25em
  h3
    margin: 0em
    padding: 0em
    margin-top: 0.75em
  small
    display: block
    font-size: 75%
    margin-top: -0.75em