@import reset.css.sass
@import css3.css.sass

!unit= 110px
!gutter= 10px

!line= 18px

!link= #1fce87
!background= #ded

body
  padding= 0 0 !line 0
  
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
  font-size: 14px
  line-height= !line
  
  color: black
  +gradient(!background, !background-#121)
  background-position: 0 0
  background-attachment: fixed
  
  a
    font-weight: bold
    
    color= !link
    
    &:hover
      text-decoration: none
  
  form
    div
      clear: left
      margin= 0 0 !line 0
      small
        display: block
        font-size: 12px
        color: #999
        
    label,
    fieldset legend
      display: block
      
      padding= 0 0 !line/2 0
      
    input
      width= !unit*3
      font-size: 24px
      
      +border-radius(8px, 8px, 8px, 8px)
      +gradient(#eee, white)
      
    div.submit
      clear: both
      
      padding= !line/2 0
      
    button
      overflow: visible
      +box-sizing(content-box)
      width= !unit*3-!gutter*2

      margin= 0
      padding= 9px !gutter

      font-weight: bold
      font-size: 1em
      text-shadow= -1px -1px 1px !link-#222
      text-decoration: none
      text-align: center

      cursor: pointer
      color: white
      +gradient(!link, !link-#111)
      border= 1px outset !link+#222
      +border-radius(10px, 10px, 10px, 10px)

      &:hover
        +gradient(#00baff, #00baff)
    
div#page
  width= !unit*9+!gutter*8
  
  margin: 0 auto
  
div#page.four-column
  width= !unit*8+!gutter*7
  
  nav#masthead
    div.projects
      form#search 
        width= !unit-!gutter*2
        
        input
          width= !unit-!gutter*2
  
  div#main
    width= !unit*4 + !gutter*3
    
    ol.subclips 
      li:nth-child(4n)
        margin-right: 0
      li:nth-child(5n)
        margin-right= !gutter
        
  section#team
    div#main
      width= !unit*6 + !gutter*5
    form.current
      width= !unit*2 !important
      button
        width= !unit*2-!gutter*2 !important
    
div#message
  z-index: 1000
  position: absolute
  left: 0
  top: 0
  width: 100%
  
  padding= !line/2 0
  
  font-size: 18px
  font-weight: bold
  text-align: center
  text-shadow: 1px 1px 1px white
  
  color: black
  background: rgba(255, 255, 255, 0.9)
  border-bottom: 1px solid white
  +box-shadow(rgba(0, 0, 0, 0.5), 0, 0, 2px)

nav#masthead
  z-index: 2
  position: relative
  font-size: 14px
  font-weight: bold
  
  div.global
    p
      padding= !line/4 !gutter !line/4 0
      
      font-size: 12px
      text-align: right
      text-shadow= 1px 1px 1px white
      
      color: #999
      
      a
        font-weight: normal
        
        color: #666
        
  div.projects
    +expand
    
    margin: 0 -1px
    padding= !line/2 0
    
    +gradient(#222, #111)
    +border-radius(10px, 10px, 10px, 10px)
    border: 1px solid #ddd
    +box-shadow(rgba(0, 0, 0, 0.5), 0, 0, 2px)
    
    form
      float: left
      width= !unit*2+!gutter
      
      margin= 0 0 0 !gutter
    
      select
        width= !unit*2
        
        font-size: 14px
        font-weight: bold
      
      input
        width= !unit*2-!gutter
        padding= !line*1/6 !gutter/2
        
        font-family: inherit
        font-size: 1em
        
        color: #666
        border= 1px inset !background-#111
        
        &:focus
          color: black
      
      div.selector
        margin-bottom: 0
      
        font-size: 16px
      
        color: black
      
    
      
div#content
  +expand
  z-index: 1
  position: relative
  clear: both
  min-height: 500px
  background-color: white
  +border-radius(10px, 10px, 10px, 10px)
  padding: 10px
  
  section
    h1      
      font-size: 18px
      text-shadow: 1px 1px 1px white
    
    div.order
      float: right
      width: auto
      
      margin= -36px !unit*2+!gutter*2 0 0
      
      color: #555
      
      label
        display: none
      
      div.selector
        margin-bottom: 0
    
    div#main
      clear: none
      float: left
      width= !unit*5 + !gutter*4
      min-height: 300px
      
      margin= 0 0 !line 0
      padding= !line !gutter !line/2 !gutter
      
      background: white
      border-bottom: 1px solid #bbb
      +border-radius(10px, 10px, 10px, 10px)
    
    nav
      h2
        margin: 0
        padding= !line/2 !gutter
        
        font-weight: normal
        text-align: left
        text-transform: uppercase
        text-align: center
        text-shadow: 1px 1px 1px white
        
        color: #999
        +border-radius(0, 10px, 10px, 0)
        
        &.implied
          visibility: hidden
        
      li
        margin: 0 0 1px 0
        
        list-style: none
        
        background: url(/i/bbb.gif) 0 0 repeat-y #e6f3fc
        +border-radius(0, 10px, 10px, 0)
        
        button
          -webkit-appearance: none
          overflow: visible
          +box-sizing(content-box)
          width: auto

          margin: 0
          padding: 0

          background: transparent
          border: none
          +border-radius(0, 0, 0, 0)
        
        a, 
        button span
          width= !unit*2-!gutter*4.5

          padding= !line/2 !gutter !line/2 !gutter*3.5

          font-size: 1em
          text-shadow: 1px 1px 1px white
          text-decoration: none
          text-align: left

          cursor: pointer
          color: black
          background: 10px 50% no-repeat transparent
          border: none
          +border-radius(0, 10px, 10px, 0)
          
      li
        a:hover,
        button:hover span
          color: #333
          background-color: white
          
        strong a,
        strong button span
          width= !unit*2-!gutter*2
          padding= !line/2 !gutter !line/2 !gutter*2
          
          color: black
          background-color: white
          background-image: none !important
          border-bottom: 1px solid #bbb

    nav#actions
      clear: none
      float: right
      width= !unit*2
      
      margin= -!line*1.5 !gutter !line 0
      padding= 0 0 !line/2 0
      
    nav#sub
      clear: none
      float: left
      width= !unit*2
      
      margin= -!line*1.5 0 !line !gutter
      
      text-align: left
      
      color: #666
      
      ul li
        background: url(/i/bbb.gif) 100% 0 repeat-y #efefef
        +border-radius(10px, 0, 0, 10px)
      
        a,
        button span
          padding= !line/2 !gutter*3.5 !line/2 !gutter
          
          text-align: right
          
          background-position= !unit*2-!gutter*2.5 50%
          +border-radius(10px, 0, 0, 10px)
        
          &:hover
            color: #333
            background-color: white
        
      ul#mode li 
        margin-left: auto
        width= !unit+!gutter*3.5
        
        button span
          width= !unit-!gutter
          
          margin-left: auto
          margin-right: 0
          
          background-position= !unit+!gutter 50%
          
        strong button span
          width= !unit+!gutter*2
          
          padding= !line/2 !gutter !line/2 !gutter
    
  section#milestone
    div#main
      fieldset
        ul
          li
            float: left
            width= !unit
            
            margin= 0 !gutter !line 0
            
            list-style: none
            
            *
              display: inline
              width: auto
                
  section#milestone.schedule
    div.delivery
      table
        width: 100%
        
        thead
          th
            padding= 0 0 !line/2 0
            
            text-align: center
            
            border-bottom: 1px solid #eee
            
            &.format
              text-align: left
              
        tbody
          td
            padding= !line/2 0
            
            vertical-align: top
            text-align: center
            
            border-bottom: 1px solid #eee
            
            &.format
              text-align: left
              
        label
          display: none
        input
          width= !unit
    
  section#team
    div#main
      width= !unit*7 + !gutter*6
      
      padding: 0
      
      background: transparent
      border: none
      
      h2
        margin: 0
        padding= 0 !gutter !line/2 !gutter

        font-weight: normal

        border-bottom: 1px solid #eee

        label
          padding: 0

        &.hover
          cursor: pointer
          color: white
          background: #00baff
      
      p
        margin= 0 !gutter !line !gutter
      
      ul
        margin= 0 0 !line 0

        li
          +expand
          margin: 0
          padding= !line/2 !gutter

          list-style: none

          font-weight: bold
          text-shadow: 1px 1px 1px white

          border-bottom: 1px solid #ddd
          border-top: 1px solid white
          
          img
            float: left
            width: 40px
            
            margin= 0 !gutter 0 0
            
          small
            display: block

            font-size: 12px
            font-weight: normal

            color: #666

          &.unsaved
            color: #666

          &.hover
            text-shadow: none
          
            cursor: pointer
            
            color: white
            background: #00baff

            small
              color: white

          &.added
            cursor: default
            color: #999
            background: #eee

            small
              color: #bbb

            &.hover
              background: #eee
      
      form.current,
      form.others,
      div.find
        float: left
        width= !unit*2
        
        margin= 0 !gutter 0 0
        padding= !line 0
        
        input,
        button
          width= !unit*2-!gutter*2
          
          margin= 0 !gutter
          
        &.with-javascript
          li button
            display: none
      
      form.thinking
        input
          background= url(/i/thinking.gif) 20-!unit*2 0 no-repeat white
          background-position= 100% 50%
        
      form.current
        width= !unit*3
        
        padding-left= !gutter
        padding-right= !gutter
        
        background: white
        border-bottom: 1px solid #bbb
        +border-radius(10px, 10px, 10px, 10px)
        
        button
          width= !unit*3-!gutter*2
          
          margin= 0 0 0 -!gutter
        
      div.find
        margin-right: 0
        
        span
          display: block
          
          margin= !line/2 !gutter
          
          font-size: 12px
          text-shadow: 1px 1px 1px white
          
          color: #999
          
        form div
          margin= !line/2 0 18px 0
        
  section#player
    div#main
      padding-top= !line/2
      div.actions
        margin-top: 0
      
    div#video
      position: relative
      
      video
        width: 100%
        height: 400px
        background: #111
      
      ul
        position: absolute
        left= !gutter
        top= !line/2
        height: 400px
        
        img
          display: none
        
        li
          display: inline-block
          
          margin: 0 2px 3px 0
          
          border-left: 3px solid white
          
          a
            display: block
            
            padding= 0 !gutter/2
            
            text-decoration: none
            
            color: black
            background: rgba(255, 255, 255, 0.75)
            
            strong
              font-weight: normal
            
            small
              display: block
              
              margin: -2px 0 0 0
              
              font-size: 9px
              text-transform: uppercase
            
            &:hover
              background: white
              
              small
                color: #333
      
      ol
        +expand
        margin: 0
        
        li.visualise
          float: left
          width: auto
          
          margin= !line*1.5 0
          
          list-style: none
          
        li.visualise > a
          position: relative
          display: block
          width: 100%
          height: 100%
          
          text-indent: -999em
          
          +gradient(#eee, #999)
          
          span
            z-index: 1
            position: absolute
            top: 0
            
            width: 1px
            height: 100%
            
            background: black
            
          span.start
            display: none
            z-index: 1000
            
          span.end
            z-index: 1000
            background: white
          
          img
            z-index: 1
            position: absolute
            left: 0
            bottom: -20px
            width: 18px
            height: 18px
            background: white
            border: 1px solid white
            
        li.visualise:hover > a,
        li.visualise.playing > a
          cursor: pointer
          
          +gradient(!link, !link-#111)
          
          img
            z-index: 1000
            border-color= !link
        
        li.visualise:nth-child(even)
          img
            bottom: auto
            top: -20px
      
    div#metadata
      float: right
      width= !unit*2-!gutter
      
      background: #eee
  
    div#notes
      clear: both
        
    
  section#footage
    div#main
      padding-top= !line/2
      
      div.actions
        margin-top: 0
        
      div.pricing
        margin= !line/2 0 !line*1.5 0
        
        p
          margin= 0 0 !line 0
          
          font-size: 18px
          
          &.total
            padding= !line/2 0
            
            font-weight: bold
            
            border-top: 1px solid #eee
            border-bottom: 1px solid #eee
          
footer#credits
  clear: both
  margin-top: 1.5em
  text-align: center
      
div#informer
  z-index: 1000
  position: absolute
  right: 10px
  top: 10px
  
  padding: 9px 20px
  
  border: 1px solid white
  +box-shadow(rgba(0, 0, 0, 0.5), 0, 0, 10px)
  

div.search
  position: relative

  button
    position: absolute
    right= !gutter
    top= !line/2
  
    width= 18px !important
    height= 18px

    margin: 0 !important
    padding: 0 !important
  
    text-indent: -999em
  
    background: url(/i/famfamfam/magnifier.png) 50% 50% no-repeat
    border: none
  
ol.milestones,
ol.activities
  li
    +expand
    
    margin= 0 0 !line/2 0
    padding= 0 0 !line 0
    
    list-style: none
    
    border-bottom: 1px solid #ddd
    
    span.date
      float: left
      width= !unit-!gutter
      
      margin= 0 !gutter 0 0
      
      font-size: 12px
      text-transform: uppercase
      text-align: right
      
      color: #666
      
    div
      float: left
      width= !unit*3+!gutter*2
      
      margin= 0 !gutter 0 0
      
      strong
        display: block
      
    span.users
      float: left
      width= !unit
      
      font-weight: bold
      
ol.subclips
  list-style: none
  
  li
    position: relative
    float: left
    width: 108px
    
    margin= 0 !gutter !line/2 0
    
    list-style: none
    
    font-size: 10px
    text-align: center
    
    color: white
    background: #222
    border: 1px solid black
    
    input, div.checker
      position: absolute
      left: 0
      top: 5px
    
    a
      font-weight: normal
      text-decoration: none
      
      color: #555
    
    label
      padding: 0
      
    img
      display: block
      width: 108px
      height: 81px
      
      background-position: 50% 50%
      background-repeat: no-repeat
      
    img.preview
      position: absolute
      top: 5px
      right: 5px
      width: 24px
      height: 24px
      
      background: url(/i/famfamfam/control_play.png) 100% 0 no-repeat transparent
      
      &:hover
        cursor: pointer
        
        background-image: url(/i/famfamfam/control_play_blue.png)
      
    div.moments
      overflow: hidden
      height: 2px
      
      span
        float: left
        width: auto
        
        margin: 0 !important
        padding: 0 !important
        
        text-indent: -999em
        
        border: none !important
    
    &.selectee
      border: 1px inset #555
      
      &:hover
        border-style: outset
    
    &.selected
      background= !link
      border= 1px solid !link
      
    &:nth-child(5n)
      margin-right: 0
      
div#tagging-watcher
  z-index: 1000
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  
  background: rgba(0, 0, 0, 0.5)
  border-top: 1px solid white
  +box-shadow(rgba(0, 0, 0, 0.5), 0, 0, 3px)
  
  ol
    +expand
    position: relative
    
    width= !unit*9+!gutter*8
    height: 70px
    
    margin: 0 auto
  
    li
      position: absolute
      left: 0
      top: 1px
      width= !unit
    
      padding: 3px
    
      list-style: none
    
      background: rgba(255, 255, 255, 0.75)
      border-bottom: 3px solid white
    
      a
        text-decoration: none
    
      img
        display: block
        width: 54px
        height: 40px
      
        margin: 0 auto
      
        background: black
        border: 1px solid white
      
      small
        display: none
      
      strong
        display: block
      
        font-size: 12px
        font-weight: normal
        text-align: center
      
        color: black
        
        
div#fancybox-wrap
  video
    background: #111

nav#services
  +expand
  width: 300px
  float: left
  padding: 1.5em
  margin-right: 3em
  
p
  margin-bottom: 1.5em
#diycouncil
  font-size: 150%
  margin-top: 1.5em
dl
  dt
    font-weight: bold
  dd
    margin-bottom: 0.75em
ul
  margin-bottom: 0.75em
h1,h2, h3, h4, h5
  margin-bottom: 0.75em !important
input#postcode
  width: 8em !important
#about_this_site
  color: #aba
#by_postcode label, #by_name label, #by_postcode select, #by_name select
  font-size: 125%
  font-weight: bold
  
nav#common_main_menu
  ul
  
    li
      float: left
    
      margin= 0 !gutter 0 0
    
      &:last-child
        margin-right: 0
    
      a
        position: relative
        display: block
      
        padding: 5px 0
      
        text-align: center
        text-decoration: none
        text-shadow: 1px 1px 1px #eee
      
        color: #333
        background: rgba(255, 255, 255, 0.75)
        +border-radius(10px, 10px, 10px, 10px)
      
        &:hover
          text-shadow: none

          color: black
          background: white
      
        small
          position: absolute
          right: -4px
          top: -4px
          width: 18px
          height: 18px
        
          font-size: 11px
          font-weight: normal
        
          +gradient(#f00, #f00-#666)
          border: 1px solid white
          +border-radius(10px, 10px, 10px, 10px)
          +box-shadow(black, 0, 0, 2px)
        
      strong a
        text-shadow: none
      
        color: black
        background: white
      